{% extends "base.html" %}

{% block content %}
<div class="content">

  <form id="model-form" method="post">
    <label for="peak-inflow-rate-input">Peak Inflow Date to Lucky Peak Reservoir: </label> 

    <div id="peak-inflow-rate-input">
      <div class="row">

        <div class="col-sm-3 col-xs-3 col-md-3">
          Month: <select id="peak-inflow-rate-mo-input" name="peak-inflow-rate-mo">
            {% for m in range(1,7) %}
              {% if m|string() == (peak_inflow_date[0]) %}
                <option value="{{ m }}" selected="selected">{{ m }}</option>
              {% else %}
                <option value="{{ m }}">{{ m }}</option>
              {% endif %}
            {% endfor %} 
          </select>
        </div>

        <div class="col-sm-3 col-xs-3 col-md-3">
          Day: <select id="peak-inflow-rate-day-input" name="peak-inflow-rate-day">
            {% for d in range(1,32) %}
              {% if d|string == peak_inflow_date[1] %}
                <option value="{{ d }}" selected="selected">{{ d }}</option>
              {% else %}
                <option value="{{ d }}">{{ d }}</option>
              {% endif %}
            {% endfor %} 
          </select>
        </div>

      </div>
    </div>

    </br>

    <label for=snowpack-percent-change-input>Percent Change of Snow Precipitation in Mountains</label>

    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-9">
        <input type=range min=0 max=2.0 value="{{ snowpack_percent_change }}" 
               id="snowpack-percent-change-input" 
               name="snowpack-percent-change" step=.1 
               oninput="outputUpdate(value,id)">
      </div>

      <div class="col-md-3 col-sm-3 col-xs-3">
        <output class="slider-outs" for="snowpack-percent-range-input" id="snowpack-percent-change">{{ snowpack_percent_change }}</output>
      </div>
    </div>

    <br>

    <label for="ag-to-muni-ratio-input">Ratio of Agricultural Land use to Municipal Land Use</label>
    <div class="row">
      <div class="col-md-9 col-sm-9 col-xs-9 ">
        <input type=range min=0 max=1 value="{{ ag_to_muni_ratio }}" 
               id="ag-to-muni-ratio-input" 
               name="ag-to-muni-ratio" step=.05 oninput="outputUpdate(value,id)">
      </div>
      <div class="col-md-3 col-sm-3 col-xs-3">
        <output class="slider-outs" for="ag-to-muni-ratio-input" id="ag-to-muni-ratio">{{ ag_to_muni_ratio }}</output>
      </div>
    </div>

    <br>

    <button type="submit" class="btn btn-default" id="update-model">Update Model</button>
  </form>

  <br>
  <br>

  <script type="text/javascript" src="https://www.google.com/jsapi"></script>
  <div id="model-chart"><div>
</div>

<script>
// set the output to reflect the input that the slider is on
function outputUpdate(val, id) {
  var idToChange = '#' + id.split('-').slice(0,-1).join('-');
  console.log(idToChange);
  document.querySelector(idToChange).value = val;
}

// plot the graph
google.load('visualization', '1', {packages: ['corechart', 'line']});
google.setOnLoadCallback(drawBackgroundColor);


function drawBackgroundColor() {

  var data = new google.visualization.DataTable();
  data.addColumn('number', 'X');
  data.addColumn('number', 'Discharge');

  data.addRows([
    {% for el in downstream_discharge %}
      [{{ loop.index }}, {{ el }}], 
    {% endfor %}
  ]);

  var options = {
    hAxis: {
      title: 'Time'
    },
    vAxis: {
      title: 'Boise River Downstream Discharge'
    },
    backgroundColor: '#ddd',
    height: 400,
      width: 700
  };

  var chart = new google.visualization
                        .LineChart(document.getElementById('model-chart'));
  chart.draw(data, options);
}

</script>
{% endblock %}
